@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body{background-color: #141414;}
header, .property-details, .inquiry-form, .pricing, .faq, .cta, footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, a{color: white;}
h1, h2, h3{font-weight: 500;}
p{color: #999999;}
h1, h2, h3{font-weight: 500;}
button, nav button{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: #262626 1px solid;
    border-radius: 10px;
}
.property-details .btn-primary, .btn-primary{
    background-color: #703BF7;
    color: white;
    font-size: 1.2rem;
    border: #703BF7 1px solid;
    border-radius: 10px;
}
.badge-icon{
    width: 4.5%;
    height: auto;
    }
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 13%;
        div{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 13%;
                height: 90%;
                background-color: #1A1A1A;
            }
        }
        h2{font-size: 3rem; font-weight: 500;}
        p{font-size: 1.2rem; color: #999999; width: 75%;}
    }
.pagination{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .pagination-controls{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{font-size: 1.3rem;}
            div{
                width:8%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                button{
                    width: 42%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                }
            }
        }    
    }   
header, nav, .brand, .nav-links{background-color: #1A1A1A;}
header{
    height: 8vh;
    nav{
        width: 82%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{text-decoration: none;}
            .brand{
                display: flex;
                align-items: center;
                width: 9%;
                height: 100%;
                gap: 10px;
                    h3{
                        color: white;
                        font-size: 1.9rem;
                    }
            }
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                height: 100%;
                    button{
                        width: 22%;
                        border: none;
                    }
                    button:hover{
                        border: #262626 1px solid;
                        border-radius: 5px;
                    }
            }
            button{
                height: 70%;
                width: 10%;
            }
    }
}
.property-details{
    height: 200vh;
    .property-container{
        width: 85%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .property-header{
            width: 100%;
            height: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
             .property-title{
                width: 33%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{font-size: 2rem;}
                div{
                    height: 60%;
                    width: 37%;
                    padding: 0 7px 0 7px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: #262626 1px solid;
                    border-radius: 15px;
                    img{width: 15%;height: 47%;}
                    p{font-size: 1.2rem; color: white;}
                }
             }
             .property-price{
                 width: 10%;
                 height: 35%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                h3{font-size: 1.6rem;}
                p{font-size: 1.2rem;}
             }
        }
        .property-gallery{
            width: 100%;
            height: 52%;
            border: #262626 1px solid;
            border-radius: 15px;
            background-color: #1A1A1A;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .gallery-thumbnails{
                width: 95%;
                height: 13%;
                border: #262626 1px solid;
                border-radius: 15px;
                background-color: #141414;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                img{height: 80%;width: auto;}
            }
            .gallery-main{
                width: 95%;
                height: 65%;
                display: flex;
                justify-content: space-between;
                img{height: 100%; width: 49%;}
            }
            .gallery-controls{
                width: 20%;
                height: 7%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: #262626 1px solid;
                border-radius: 40px;
                background-color: #141414;
                button{width: 15%; height: 75%; border-radius: 50%; display: flex;align-items: center;justify-content: center;}
            }
        }
        .property-info{
            width: 100%;
            height: 37%;
            display: flex;
            justify-content: space-between;
            h2{font-size: 1.75rem;}
            p{font-size: 1.4rem; line-height: 1.5;}
            .property-description, .property-features{
                width: 49%;
                border: #262626 1px solid;
                border-radius: 15px;
                background-color: #141414;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 3%;
            }
            .property-description{
                height: 60%;
                .property-specs{
                    width: 95%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                    h2{font-size:1.6rem;}
                    .spec-item{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            height: 50%;
                            width: 80%;
                            display: flex;
                            gap: 10%;
                            align-items: center;
                            img{width: auto;
                            height: 50%;}
                        }
                    }
                }
                .description-text{
                        width: 100%;
                        height: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
            }
            .property-features{
                .features-list{
                    height: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .feature-item{
                        width: 100%;
                        height: auto;
                        min-height: 15%;
                        border-left: #703BF7 3px solid;
                        background-image: linear-gradient(to right, #262626, #141414);
                        max-height: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        div{
                            display: flex;
                            width: 90%;
                            height: 90%;
                            gap: 5%;
                            align-items: center;
                            img{width: auto;height: 40%;}
                        }
                    }
                }
            }
        }
    }
}
.inquiry-form{
    height: 100vh;
    .inquiry-container{
        width: 85%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        .inquiry-text{
            width: 30%;
            height: 34%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h2{font-weight: 500;font-size: 3rem;}
            p{font-size: 1.3rem; line-height: 1.5;}
            img{width: 15%; height: auto;}
        }
        .form-card{
            border-radius: 15px;
            border: #262626 1px solid;
            align-self: center;
            width: 60%;
            height: 100%;
            background-color: #141414;
            display: flex;
            justify-content: center;
            align-items: center;
            .form-card-inner{
                width: 90%;
                height: 85%;
                background-color: #141414;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .form-fields{
                    width: 100%;
                    height: 50%;
                    background-color: #141414;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .form-fields-group{
                        width: 100%;
                        background-color: #141414;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .form-row{
                            background-color: #141414;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 25%;
                            div{
                                width: 50%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                p{font-size: 1.3rem; color: white;}
                                input{
                                    width: 95%;
                                    height: 60%;
                                    color: #999999;
                                    font-size: 1rem;
                                    background-color: #1A1A1A;
                                    border-radius: 5px;
                                    border: #262626 1px solid;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                    .form-field-full{
                        background-color: #141414;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 25%;
                        width: 100%;
                        div{
                            height: 65%;
                            width: 98%;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            background-color: #1A1A1A;
                            border-radius: 5px;
                            border: #262626 1px solid;
                        }
                        p{font-size: 1.3rem; color: white;}
                        input{
                            width: 93%;
                            height: 80%;
                            color: #999999;
                            font-size: 1rem;
                            background-color: #1A1A1A;
                            border: none;
                            padding-left: 10px;
                        }
                        img{
                            width:3%;
                            height: auto;
                            background-color: transparent;
                        }
                    }
                }
                div{
                    background-color: transparent;
                }
                .form-message-area{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: 30%;
                    background-color: #141414;
                    p{font-size: 1.3rem; color: white;}
                    input{
                        background-color: #1A1A1A;
                        border-radius: 5px;
                        border: #262626 1px solid;
                        width: 100%;
                        height: 80%;
                        color: #999999;
                        font-size: 1rem;
                        text-align: left;
                        vertical-align: top;
                        padding: 8px;
                    }
                }
                .form-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 10%;
                    div{
                        width: 45%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        input{
                            width: 20%;
                            height: 25%;
                        }
                    }
                    button{
                        width: 25%;
                        height: 77%;
                    }
                }
            }
        }

    }
}
.pricing{
    height: 280Vh;
    .pricing-container{
        height: 90%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 7%;
            p{width: 80%;}
        }
        .pricing-note{
            width: 100%;
            height: 3.5%;
            background-color: #262626;
            border: #999999 1px solid;
            border-radius: 15px;
            display: flex;
            align-items: center;
            padding-left: 2%;
            gap: 1.5%;
            h3{font-size: 1.5rem;}
            p{font-size: 1.2rem;}
        }
        .pricing-content{
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .pricing-total{
                width: 15%;
                height: 4%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{font-size: 1.3rem;}
                h2{font-size: 2.5rem;}
            }
            .pricing-breakdown{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3{font-size: 1.7rem;}
                p{font-size: 1.1rem;}
                .pricing-note-badge{
                    padding: 10px;
                    background-color: #1A1A1A;
                    border-radius: 20px;
                    width: auto; height: auto;
                }
                .pricing-section, .pricing-section{
                    width: 100%;
                    border: #262626 1px solid;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    .section-header-row{
                        display: flex;
                        width: 95%;
                        height: 15%;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            width: 13%;
                            // height: 47%;
                            background-color: #1A1A1A;
                        }
                    }
                    .pricing-row{
                        width: 95%;
                        height: 23%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .pricing-item{
                            width: 48%;
                            height: 60%;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            div{
                                width: 100%;
                                height: 50%;
                                display: flex;
                                gap: 5%;
                                
                            }
                        }
                    }
                    .pricing-item-full{
                       width: 95%;
                        height: 13%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            gap: 2%;
                        }
                    }
                }
                .pricing-section{
                    height: 30%;
                    button{height: 65%;}
                }
                .pricing-section{
                    height: 22%;
                    button{height: 85%;}
                }
            }
            
        }
    }
}
.faq{
    height: 100vh;
    .faq-container{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .section-header{height: 20%; button{height: 80%;}}
        .faq-grid{
             width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .faq-card{
                width: 32%;
                height: 90%;
                border: #1A1A1A 3px solid;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                h3{font-size: 1.7rem; font-weight: 500;}
                p{font-size: 1.25rem; line-height: 1.5;}
                .faq-card-inner{
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    button{
                        width: 40%;
                        height: 23%;
                        background-color: #1A1A1A;
                        border: #262626 1px solid;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}
.cta{
    height: 40vh;
    background-image: url(/kartinki/main1/BacgraundS5.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    .cta-container{
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        div{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            gap: 10%;
            h2{font-size: 2.7rem; font-weight: 500;}
            p{font-size: 1.05rem;}
        }
        button{
            width: 13%;
            height: 25%;
        }
    }
}
footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-top-inner{
            width: 80%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .footer-brand{
                width: 30%;
                height: 55%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .footer-logo{
                    width:36%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{font-size: 2rem; font-weight: 500;}
                }
                .newsletter{
                    width: 100%;
                    height: 40%;
                    border: #262626 1px solid;
                    border-radius: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5% 0 5%;
                    input{
                        color: #999999;
                        font-size: 1.2rem;
                        width: 80%;
                        height: 100%;
                        border: none;
                        background-color: #141414;
                    }
                }
            }
            .footer-links{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                ul{
                    list-style: none;
                    line-height: 2.5;
                    li{
                        font-size: 1.1rem;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 20%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-bottom-inner{
            width: 80%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-copyright{
                width: 30%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{background-color: transparent; font-size: 1.1rem;}
            }
            .footer-socials{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #1A1A1A;
                img{
                    width: 20%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
