@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #141414;
}

header, .property-details, .inquiry-form, .pricing, .faq, .cta, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, a {
  color: white;
}

h1, h2, h3 {
  font-weight: 500;
}

p {
  color: #999999;
}

h1, h2, h3 {
  font-weight: 500;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

.property-details .btn-primary, .btn-primary {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

.badge-icon {
  width: 4.5%;
  height: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}
.section-header div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header div button {
  width: 13%;
  height: 90%;
  background-color: #1A1A1A;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 500;
}
.section-header p {
  font-size: 1.2rem;
  color: #999999;
  width: 75%;
}

.pagination {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagination .pagination-controls {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination-controls p {
  font-size: 1.3rem;
}
.pagination .pagination-controls div {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination .pagination-controls div button {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

header, nav, .brand, .nav-links {
  background-color: #1A1A1A;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .brand {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .brand h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .nav-links button {
  width: 22%;
  border: none;
}
header nav .nav-links button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.property-details {
  height: 200vh;
}
.property-details .property-container {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.property-details .property-container .property-header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-details .property-container .property-header .property-title {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-details .property-container .property-header .property-title h2 {
  font-size: 2rem;
}
.property-details .property-container .property-header .property-title div {
  height: 60%;
  width: 37%;
  padding: 0 7px 0 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #262626 1px solid;
  border-radius: 15px;
}
.property-details .property-container .property-header .property-title div img {
  width: 15%;
  height: 47%;
}
.property-details .property-container .property-header .property-title div p {
  font-size: 1.2rem;
  color: white;
}
.property-details .property-container .property-header .property-price {
  width: 10%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-details .property-container .property-header .property-price h3 {
  font-size: 1.6rem;
}
.property-details .property-container .property-header .property-price p {
  font-size: 1.2rem;
}
.property-details .property-container .property-gallery {
  width: 100%;
  height: 52%;
  border: #262626 1px solid;
  border-radius: 15px;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.property-details .property-container .property-gallery .gallery-thumbnails {
  width: 95%;
  height: 13%;
  border: #262626 1px solid;
  border-radius: 15px;
  background-color: #141414;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.property-details .property-container .property-gallery .gallery-thumbnails img {
  height: 80%;
  width: auto;
}
.property-details .property-container .property-gallery .gallery-main {
  width: 95%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
.property-details .property-container .property-gallery .gallery-main img {
  height: 100%;
  width: 49%;
}
.property-details .property-container .property-gallery .gallery-controls {
  width: 20%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #262626 1px solid;
  border-radius: 40px;
  background-color: #141414;
}
.property-details .property-container .property-gallery .gallery-controls button {
  width: 15%;
  height: 75%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.property-details .property-container .property-info {
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-between;
}
.property-details .property-container .property-info h2 {
  font-size: 1.75rem;
}
.property-details .property-container .property-info p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.property-details .property-container .property-info .property-description, .property-details .property-container .property-info .property-features {
  width: 49%;
  border: #262626 1px solid;
  border-radius: 15px;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3%;
}
.property-details .property-container .property-info .property-description {
  height: 60%;
}
.property-details .property-container .property-info .property-description .property-specs {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.property-details .property-container .property-info .property-description .property-specs h2 {
  font-size: 1.6rem;
}
.property-details .property-container .property-info .property-description .property-specs .spec-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-details .property-container .property-info .property-description .property-specs .spec-item div {
  height: 50%;
  width: 80%;
  display: flex;
  gap: 10%;
  align-items: center;
}
.property-details .property-container .property-info .property-description .property-specs .spec-item div img {
  width: auto;
  height: 50%;
}
.property-details .property-container .property-info .property-description .description-text {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-details .property-container .property-info .property-features .features-list {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-details .property-container .property-info .property-features .features-list .feature-item {
  width: 100%;
  height: auto;
  min-height: 15%;
  border-left: #703BF7 3px solid;
  background-image: linear-gradient(to right, #262626, #141414);
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-details .property-container .property-info .property-features .features-list .feature-item div {
  display: flex;
  width: 90%;
  height: 90%;
  gap: 5%;
  align-items: center;
}
.property-details .property-container .property-info .property-features .features-list .feature-item div img {
  width: auto;
  height: 40%;
}

.inquiry-form {
  height: 100vh;
}
.inquiry-form .inquiry-container {
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .inquiry-text {
  width: 30%;
  height: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.inquiry-form .inquiry-container .inquiry-text h2 {
  font-weight: 500;
  font-size: 3rem;
}
.inquiry-form .inquiry-container .inquiry-text p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.inquiry-form .inquiry-container .inquiry-text img {
  width: 15%;
  height: auto;
}
.inquiry-form .inquiry-container .form-card {
  border-radius: 15px;
  border: #262626 1px solid;
  align-self: center;
  width: 60%;
  height: 100%;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner {
  width: 90%;
  height: 85%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields {
  width: 100%;
  height: 50%;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-fields-group {
  width: 100%;
  background-color: #141414;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-fields-group .form-row {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-fields-group .form-row div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-fields-group .form-row div p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-fields-group .form-row div input {
  width: 95%;
  height: 60%;
  color: #999999;
  font-size: 1rem;
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
  padding-left: 10px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  width: 100%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full div {
  height: 65%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full input {
  width: 93%;
  height: 80%;
  color: #999999;
  font-size: 1rem;
  background-color: #1A1A1A;
  border: none;
  padding-left: 10px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full img {
  width: 3%;
  height: auto;
  background-color: transparent;
}
.inquiry-form .inquiry-container .form-card .form-card-inner div {
  background-color: transparent;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  background-color: #141414;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area input {
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
  width: 100%;
  height: 80%;
  color: #999999;
  font-size: 1rem;
  text-align: left;
  vertical-align: top;
  padding: 8px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer div {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer div input {
  width: 20%;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer button {
  width: 25%;
  height: 77%;
}

.pricing {
  height: 280Vh;
}
.pricing .pricing-container {
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing .pricing-container .section-header {
  height: 7%;
}
.pricing .pricing-container .section-header p {
  width: 80%;
}
.pricing .pricing-container .pricing-note {
  width: 100%;
  height: 3.5%;
  background-color: #262626;
  border: #999999 1px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  gap: 1.5%;
}
.pricing .pricing-container .pricing-note h3 {
  font-size: 1.5rem;
}
.pricing .pricing-container .pricing-note p {
  font-size: 1.2rem;
}
.pricing .pricing-container .pricing-content {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.pricing .pricing-container .pricing-content .pricing-total {
  width: 15%;
  height: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing .pricing-container .pricing-content .pricing-total p {
  font-size: 1.3rem;
}
.pricing .pricing-container .pricing-content .pricing-total h2 {
  font-size: 2.5rem;
}
.pricing .pricing-container .pricing-content .pricing-breakdown {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing .pricing-container .pricing-content .pricing-breakdown h3 {
  font-size: 1.7rem;
}
.pricing .pricing-container .pricing-content .pricing-breakdown p {
  font-size: 1.1rem;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-note-badge {
  padding: 10px;
  background-color: #1A1A1A;
  border-radius: 20px;
  width: auto;
  height: auto;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section {
  width: 100%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .section-header-row, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .section-header-row {
  display: flex;
  width: 95%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .section-header-row button, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .section-header-row button {
  width: 13%;
  background-color: #1A1A1A;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row {
  width: 95%;
  height: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row .pricing-item, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row .pricing-item {
  width: 48%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row .pricing-item div, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-row .pricing-item div {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 5%;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-item-full, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-item-full {
  width: 95%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-item-full div, .pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section .pricing-item-full div {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 2%;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section {
  height: 30%;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section button {
  height: 65%;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section {
  height: 22%;
}
.pricing .pricing-container .pricing-content .pricing-breakdown .pricing-section button {
  height: 85%;
}

.faq {
  height: 100vh;
}
.faq .faq-container {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.faq .faq-container .section-header {
  height: 20%;
}
.faq .faq-container .section-header button {
  height: 80%;
}
.faq .faq-container .faq-grid {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .faq-container .faq-grid .faq-card {
  width: 32%;
  height: 90%;
  border: #1A1A1A 3px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq .faq-container .faq-grid .faq-card h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.faq .faq-container .faq-grid .faq-card p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.faq .faq-container .faq-grid .faq-card .faq-card-inner {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.faq .faq-container .faq-grid .faq-card .faq-card-inner button {
  width: 40%;
  height: 23%;
  background-color: #1A1A1A;
  border: #262626 1px solid;
  border-radius: 15px;
}

.cta {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.cta .cta-container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.cta .cta-container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.cta .cta-container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.cta .cta-container div p {
  font-size: 1.05rem;
}
.cta .cta-container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-inner {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
  background-color: #141414;
}
footer .footer-top .footer-top-inner .footer-links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-links ul {
  list-style: none;
  line-height: 2.5;
}
footer .footer-top .footer-top-inner .footer-links ul li {
  font-size: 1.1rem;
}
footer .footer-top .footer-top-inner .footer-links ul li a {
  text-decoration: none;
}
footer .footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .footer-bottom .footer-bottom-inner .footer-socials {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .footer-bottom .footer-bottom-inner .footer-socials img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=details.css.map */
