@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #141414;
}

header, .hero, .contact-form, .offices, .gallery, .cta, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, a {
  color: white;
}

.btn-primary {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

h1, h2, h3 {
  font-weight: 500;
}

p {
  color: #999999;
}

h1, h2, h3 {
  font-weight: 500;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

.badge-icon {
  width: 4.5%;
  height: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}
.section-header div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header div button {
  width: 13%;
  height: 90%;
  background-color: #1A1A1A;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 500;
}
.section-header p {
  font-size: 1.2rem;
  color: #999999;
  width: 75%;
}

header, nav, .brand, .nav-links {
  background-color: #1A1A1A;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .brand {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .brand h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .nav-links button {
  width: 22%;
  border: none;
}
header nav .nav-links button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.hero {
  height: 60vh;
  background-color: #1A1A1A;
  position: relative;
  background-image: linear-gradient(to right, #262626, #141414);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-container {
  margin-top: 7%;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-container h2 {
  font-weight: 500;
  font-size: 3rem;
}
.hero .hero-container p {
  font-size: 1.12rem;
  width: 87%;
}
.hero .contact-bar {
  height: 42%;
  width: 100%;
  background-color: #141414;
  border: #1A1A1A 15px solid;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .contact-bar .contact-bar-inner {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero .contact-bar .contact-bar-inner .contact-item {
  border: #262626 1px solid;
  width: 23%;
  height: 85%;
  background-color: #1A1A1A;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}
.hero .contact-bar .contact-bar-inner .contact-item img {
  background-color: #1A1A1A;
}
.hero .contact-bar .contact-bar-inner .contact-item p {
  background-color: #1A1A1A;
  font-size: 1.2rem;
}
.hero .contact-bar .contact-bar-inner .contact-item .arrow-icon {
  margin: 10px;
  margin-bottom: 33%;
  position: absolute;
  align-self: flex-end;
  width: 8%;
  height: auto;
}
.hero .contact-bar .contact-bar-inner .contact-item img {
  width: 20%;
  height: auto;
}

.contact-form {
  height: 130vh;
}
.contact-form .form-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-form .form-container .section-header {
  height: 15%;
}
.contact-form .form-container .section-header p {
  width: 90%;
}
.contact-form .form-container .form-wrapper {
  padding: 60px;
  width: 100%;
  height: 75%;
  border: #262626 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-form .form-container .form-wrapper p {
  color: white;
  font-size: 1.3rem;
}
.contact-form .form-container .form-wrapper input {
  background-color: #1A1A1A;
  border: #262626 1px solid;
  width: 22vw;
  height: 6vh;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
}
.contact-form .form-container .form-wrapper .form-row-1,
.contact-form .form-container .form-wrapper .form-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form .form-container .form-wrapper .form-row-1 .dropdown-icon-1, .contact-form .form-container .form-wrapper .form-row-1 .dropdown-icon-2,
.contact-form .form-container .form-wrapper .form-row-2 .dropdown-icon-1,
.contact-form .form-container .form-wrapper .form-row-2 .dropdown-icon-2 {
  position: absolute;
  margin-top: 1.5%;
  margin-left: -2%;
}
.contact-form .form-container .form-wrapper .form-message div {
  width: 100%;
  height: 10vh;
  border: #262626 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: #1A1A1A;
}
.contact-form .form-container .form-wrapper .form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form .form-container .form-wrapper .form-submit div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
.contact-form .form-container .form-wrapper .form-submit div input {
  width: 1.3vw;
}
.contact-form .form-container .form-wrapper .form-submit button {
  width: 20%;
  padding: 20px;
  border: #703BF7 1px solid;
  background-color: #703BF7;
  color: white;
  border-radius: 10px;
}

.offices {
  height: 100vh;
}
.offices .offices-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offices .offices-container .section-header {
  height: 15%;
}
.offices .offices-container .section-header p {
  width: 90%;
}
.offices .office-tabs {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #1A1A1A;
  border-radius: 10px;
  padding: 20px;
}
.offices .office-tabs button {
  padding: 10px;
  width: 30%;
  background-color: #1A1A1A;
  border-radius: 10px;
  color: white;
  border: #262626 1px solid;
}
.offices .office-tabs button:first-child {
  background-color: #141414;
}

.office-cards {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.office-cards h3 {
  font-size: 1.8rem;
}
.office-cards p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.office-cards .office-card {
  padding: 40px;
  height: 100%;
  width: 49%;
  border-radius: 10px;
  border: #262626 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.office-cards .office-card .office-details {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.office-cards .office-card .office-details div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 5vh;
  border-radius: 30px;
  background-color: #1A1A1A;
  border: #262626 1px solid;
}
.office-cards .office-card .office-details div img {
  height: 1.8vh;
}
.office-cards .office-card button {
  height: 6vh;
  border-radius: 10px;
}

.gallery {
  height: 100vh;
}
.gallery .gallery-wrapper {
  width: 85%;
  height: 80%;
  background-image: url(/kartinki/service/Card.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
.gallery .gallery-wrapper .gallery-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery .gallery-wrapper img {
  width: 48%;
  height: 100%;
}
.gallery .gallery-wrapper .gallery-text {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gallery .gallery-wrapper .gallery-text .badge-icon {
  width: 15%;
  height: auto;
  background-color: transparent;
}
.gallery .gallery-wrapper .gallery-text p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.gallery .gallery-wrapper .gallery-text h1 {
  font-size: 3rem;
}
.gallery .gallery-wrapper .gallery-top, .gallery .gallery-wrapper .gallery-bottom, .gallery .gallery-wrapper .gallery-center {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery .gallery-wrapper .gallery-pair {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.cta {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.cta .cta-container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.cta .cta-container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.cta .cta-container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.cta .cta-container div p {
  font-size: 1.05rem;
}
.cta .cta-container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-inner {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
  background-color: #141414;
}
footer .footer-top .footer-top-inner .footer-links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-links ul {
  list-style: none;
  line-height: 2.5;
}
footer .footer-top .footer-top-inner .footer-links ul li {
  font-size: 1.1rem;
}
footer .footer-top .footer-top-inner .footer-links ul li a {
  text-decoration: none;
}
footer .footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .footer-bottom .footer-bottom-inner .footer-socials {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .footer-bottom .footer-bottom-inner .footer-socials img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=contact.css.map */
