@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body{background-color: #141414;}
header, .hero, .contact-form, .offices, .gallery, .cta, footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, a{color: white;}
.btn-primary{
    background-color: #703BF7;
    color: white;
    font-size: 1.2rem;
    border: #703BF7 1px solid;
    border-radius: 10px;
}
h1, h2, h3{font-weight: 500;}
p{color: #999999;}
h1, h2, h3{font-weight: 500;}
button, nav button{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: #262626 1px solid;
    border-radius: 10px;
}
.badge-icon{
    width: 4.5%;
    height: auto;
    }
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 13%;
        div{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 13%;
                height: 90%;
                background-color: #1A1A1A;
            }
        }
        h2{font-size: 3rem; font-weight: 500;}
        p{font-size: 1.2rem; color: #999999; width: 75%;}
}
header, nav, .brand, .nav-links{background-color: #1A1A1A;}
header{
    height: 8vh;
    nav{
        width: 82%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{text-decoration: none;}
            .brand{
                display: flex;
                align-items: center;
                width: 9%;
                height: 100%;
                gap: 10px;
                    h3{
                        color: white;
                        font-size: 1.9rem;
                    }
            }
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                height: 100%;
                    button{
                        width: 22%;
                        border: none;
                    }
                    button:hover{
                        border: #262626 1px solid;
                        border-radius: 5px;
                    }
            }
            button{
                height: 70%;
                width: 10%;
            }
    }
}
.hero{
    height: 60vh;
    background-color: #1A1A1A;
    position: relative;
    background-image: linear-gradient(to right, #262626, #141414);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .hero-container{
        margin-top: 7%;
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{font-weight: 500; font-size: 3rem;}
        p{font-size: 1.12rem; width:87%;}
    }
     .contact-bar{
        height: 42%;
        width: 100%;
        background-color: #141414;
        border:#1A1A1A 15px solid;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .contact-bar-inner{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .contact-item{
                border: #262626 1px solid;
                width: 23%;
                height: 85%;
                background-color: #1A1A1A;
                border-radius: 10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5%;
                img{background-color: #1A1A1A;}
                p{background-color: #1A1A1A; font-size: 1.2rem;}
                .arrow-icon{
                    margin: 10px;
                    margin-bottom: 33%;
                    position: absolute;
                    align-self: flex-end;
                    width: 8%;
                    height: auto;
                }
                img{width: 20%; height: auto;}
            }
        }
    }
}
.contact-form{
    height: 130vh;
    .form-container{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 15%;
            p{width: 90%;}
        }
         .form-wrapper {
        padding: 60px;
        width: 100%;
        height: 75%;
        border: #262626 1px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p{color: white; font-size: 1.3rem;}
        input {
            background-color: #1A1A1A;
            border: #262626 1px solid;
            width: 22vw;
            height: 6vh;
            padding: 20px;
            border-radius: 10px;
            font-size: 1.2rem;
        }
        .form-row-1,
        .form-row-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dropdown-icon-1, .dropdown-icon-2 {
                position: absolute;
                margin-top: 1.5%;
                margin-left: -2%;
            }
        }
        .form-message {
            div {
                width: 100%;
                height: 10vh;
                border: #262626 1px solid;
                border-radius: 10px;
                padding: 20px;
                background-color: #1A1A1A;
            }
        }
        .form-submit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 33%;
                input {
                    width: 1.3vw;
                }
            }
            button {
                width: 20%;
                padding: 20px;
                border: #703BF7 1px solid;
                background-color: #703BF7;
                color: white;
                border-radius: 10px;
            }
        }
    }
    }
}
.offices{
    height: 100vh;
    .offices-container{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 15%;
            p{width: 90%;};
        }
    }
    .office-tabs {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        height: 10vh;
        background-color: #1A1A1A;
        border-radius: 10px;
        padding: 20px;
        button {
            padding: 10px;
            width: 30%;
            background-color: #1A1A1A;
            border-radius: 10px;
            color: white;
            border: #262626 1px solid;
        }
        button:first-child {
            background-color: #141414;
        }
    }
}
.office-cards {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3{font-size: 1.8rem;}
        p{font-size: 1.2rem; line-height: 1.5;}
        .office-card {
            padding: 40px;
            height: 100%;
            width: 49%;
            border-radius: 10px;
            border: #262626 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .office-details {
                display: flex;
                justify-content: space-between;
                width: 80%;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    height: 5vh;
                    border-radius: 30px;
                    background-color: #1A1A1A;
                    border: #262626 1px solid;
                    img{
                        height: 1.8vh;
                    }
                }
            }
            button{
                    height: 6vh;
                    border-radius: 10px;
                }
        }
    }
.gallery{
    height: 100vh;
            .gallery-wrapper{
                width: 85%;
                height: 80%;
            background-image: url(/kartinki/service/Card.png);
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px;
            .gallery-grid{
                width: 100%; height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            img{
                width: 48%;
                height: 100%;
            }
            .gallery-text{
                width: 48%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .badge-icon{
                    width: 15%; height: auto; background-color: transparent;
                }
                p{font-size: 1.3rem; line-height: 1.5;}
                h1{font-size: 3rem;}
            }
            .gallery-top, .gallery-bottom, .gallery-center{
                height: 30%;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            .gallery-pair{
                width: 48%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .cta{
    height: 40vh;
    background-image: url(/kartinki/main1/BacgraundS5.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    .cta-container{
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        div{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            gap: 10%;
            h2{font-size: 2.7rem; font-weight: 500;}
            p{font-size: 1.05rem;}
        }
        button{
            width: 13%;
            height: 25%;
        }
    }
}
footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-top-inner{
            width: 80%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .footer-brand{
                width: 30%;
                height: 55%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .footer-logo{
                    width:36%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{font-size: 2rem; font-weight: 500;}
                }
                .newsletter{
                    width: 100%;
                    height: 40%;
                    border: #262626 1px solid;
                    border-radius: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5% 0 5%;
                    input{
                        color: #999999;
                        font-size: 1.2rem;
                        width: 80%;
                        height: 100%;
                        border: none;
                        background-color: #141414;
                    }
                }
            }
            .footer-links{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                ul{
                    list-style: none;
                    line-height: 2.5;
                    li{
                        font-size: 1.1rem;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 20%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-bottom-inner{
            width: 80%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-copyright{
                width: 30%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{background-color: transparent; font-size: 1.1rem;}
            }
            .footer-socials{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #1A1A1A;
                img{
                    width: 20%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
