@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    font-family: 'Urbanist', sans-serif;
}
header, .hero, .featured-properties, .testimonials, .faq, .cta, footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
p, h1, h2, h3, a{color: white;}
button, nav button{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: #262626 1px solid;
    border-radius: 10px;
}
.hero .btn-primary, .btn-primary{
    background-color: #703BF7;
    color: white;
    font-size: 1.2rem;
    border: #703BF7 1px solid;
    border-radius: 10px;
}
header, nav, .brand, .nav-links{background-color: #1A1A1A;}
header{
    height: 8vh;
    nav{
        width: 82%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{text-decoration: none;}
            .brand{
                display: flex;
                align-items: center;
                width: 9%;
                height: 100%;
                gap: 10px;
                    h3{
                        color: white;
                        font-size: 1.9rem;
                    }
            }
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                height: 100%;
                    button{
                        width: 22%;
                        border: none;
                    }
                    button:hover{
                        border: #262626 1px solid;
                        border-radius: 5px;
                    }
            }
            button{
                height: 70%;
                width: 10%;
            }
    }
}
.hero{
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    .hero-main{
        height: 74%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero-content{
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: end;
            padding-right: 5%;
            padding-bottom: 5%;
            align-items: end;
            .hero-inner{
                width: 82%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .hero-text{
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 3.7rem;
                        font-weight: 600;
                    }
                    p{font-size: 1.2rem;}
                }
                .hero-buttons{
                    width: 45%;
                    height: 12%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button{
                        width: 40%;
                        height: 100%;
                    }
                    .btn-primary{
                        width: 50%;
                        height: 100%;
                    }
                }
                .hero-stats{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .stat-item{
                        width: 31%;
                        height: 90%;
                        background-color: #1A1A1A;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        justify-content: center;
                        padding-left: 3%;
                        h2{
                            font-size: 2.5rem;
                            background-color: #1A1A1A;
                        }
                        p{
                            font-size: 1.2rem;
                            background-color: #1A1A1A;
                        }
                    }
                }
            }
        }
        .hero-visual{
            width: 45%;
            height: 100%;
            position: relative;
            display: flex;
            .hero-image-main{
                height: 100%;
                width: 100%;
            }
            .hero-image-overlay{
                position: absolute;
                background-color: transparent;
                align-self: center;
                margin-left: -10%;
                margin-bottom: 30%;
            }
        }
    }
    .hero-features{
        height: 26%;
        width: 100%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .features-inner{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .feature-card{
                border: #262626 1px solid;
                width: 23%;
                height: 85%;
                background-color: #1A1A1A;
                border-radius: 10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5%;
                img{background-color: #1A1A1A;}
                p{background-color: #1A1A1A; font-size: 1.2rem;}
                .arrow-icon{
                    margin: 10px;
                    margin-bottom: 40%;
                    position: absolute;
                    align-self: flex-end;
                    width: 8%;
                    height: auto;
                }
                img{width: 20%; height: auto;}
            }
        }
    }
}
.badge-icon{
    width: 4.5%;
    height: auto;
    }
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 13%;
        div{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 13%;
                height: 90%;
                background-color: #1A1A1A;
            }
        }
        h2{font-size: 3rem; font-weight: 500;}
        p{font-size: 1.2rem; color: #999999; width: 75%;}
    }
.pagination{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .pagination-controls{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{font-size: 1.3rem;}
            div{
                width:8%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                button{
                    width: 42%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                }
            }
        }    
    }
        
.featured-properties{
    height: 120vh;
    .featured-container{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 75%;
            .properties-grid{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 85%;
                .property-card{
                    height: 100%;
                    width: 32%;
                    border:#262626 1px solid;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .property-card-inner{
                        width: 80%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .property-image{
                            width: 100%;
                            height: auto;
                        }
                        .property-details{
                            width: 100%;
                            height: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            h3{font-weight: 500;font-size: 1.5rem;}
                            p{font-size: 1.2rem; color: #999999;}
                            .property-features{
                                width: 100%;
                                height: 20%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                button{
                                    height: 100%;
                                    width: auto;
                                    padding: 0 10px 0 10px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 3px;
                                    img{height: 45%; width: auto;}
                                }
                            }
                            .property-price{
                                width: 100%;
                                height: 30%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                button{
                                    height: 100%;
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}
.testimonials{
    width: 100vw;
    height: 90vh;
    .testimonials-container{
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 15%;
            button{
                height: 100%;
            }
        }
    }
    .section-wrapper{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .reviews-grid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80%;
            .review-card{
                height: 100%;
                width: 32%;
                border:#262626 1px solid;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .review-card-inner{
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 15%;
                    img{
                        width: 60%;
                        height: auto;
                    }
                    .review-content{
                        height: 45%;
                        display: flex;
                        flex-direction: column;
                        gap: 10%;
                        h3{
                            font-size: 1.5rem;
                            font-weight: 500;
                        }
                        p{
                            font-size: 1.2rem;
                            line-height: 1.5;
                        }
                    }
                    .review-author{
                        height: 20%;
                        display: flex;
                        gap: 5%;
                        align-items: center;
                        img{
                            width: 15%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .pagination{
            height: 14%;
        }
    }
}
.faq{
    width: 100vw;
    height: 90vh;
    .faq-container{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 15%;
            button{
                height: 100%;
            }
        }
        .section-wrapper{
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .faq-grid{
                width: 100%;
                height: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .faq-card{
                    height: 85%;
                    width: 32%;
                    border:#262626 1px solid;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .faq-card-inner{
                    width: 80%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3{font-weight: 500; font-size: 1.5rem; height: 20%;}
                    p{font-size: 1.2rem;}
                    button{
                        width: 40%;
                        height: 20%;
                        background-color: #1A1A1A;
                    }
                }
            }
        }
        .pagination{
            height: 16%;
        }
    }
}
.cta{
    height: 40vh;
    background-image: url(/kartinki/main1/BacgraundS5.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    .cta-container{
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        div{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            gap: 10%;
            h2{font-size: 2.7rem; font-weight: 500;}
            p{font-size: 1.05rem;}
        }
        button{
            width: 13%;
            height: 25%;
        }
    }
}
footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-top-inner{
            width: 80%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .footer-brand{
                width: 30%;
                height: 55%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .footer-logo{
                    width:36%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{font-size: 2rem; font-weight: 500;}
                }
                .newsletter{
                    width: 100%;
                    height: 40%;
                    border: #262626 1px solid;
                    border-radius: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5% 0 5%;
                    input{
                        color: #999999;
                        font-size: 1.2rem;
                        width: 80%;
                        height: 100%;
                        border: none;
                    }
                }
            }
            .footer-links{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                ul{
                    list-style: none;
                    line-height: 2.5;
                    li{
                        font-size: 1.1rem;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 20%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-bottom-inner{
            width: 80%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-copyright{
                width: 30%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{background-color: transparent; font-size: 1.1rem;}
            }
            .footer-socials{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #1A1A1A;
                img{
                    width: 20%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
