@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  font-family: "Urbanist", sans-serif;
}

header, .hero, .featured-properties, .testimonials, .faq, .cta, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

p, h1, h2, h3, a {
  color: white;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

.hero .btn-primary, .btn-primary {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

header, nav, .brand, .nav-links {
  background-color: #1A1A1A;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .brand {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .brand h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .nav-links button {
  width: 22%;
  border: none;
}
header nav .nav-links button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.hero {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-main {
  height: 74%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-main .hero-content {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5%;
  padding-bottom: 5%;
  align-items: end;
}
.hero .hero-main .hero-content .hero-inner {
  width: 82%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-main .hero-content .hero-inner .hero-text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-main .hero-content .hero-inner .hero-text h1 {
  font-size: 3.7rem;
  font-weight: 600;
}
.hero .hero-main .hero-content .hero-inner .hero-text p {
  font-size: 1.2rem;
}
.hero .hero-main .hero-content .hero-inner .hero-buttons {
  width: 45%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-main .hero-content .hero-inner .hero-buttons button {
  width: 40%;
  height: 100%;
}
.hero .hero-main .hero-content .hero-inner .hero-buttons .btn-primary {
  width: 50%;
  height: 100%;
}
.hero .hero-main .hero-content .hero-inner .hero-stats {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-main .hero-content .hero-inner .hero-stats .stat-item {
  width: 31%;
  height: 90%;
  background-color: #1A1A1A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  padding-left: 3%;
}
.hero .hero-main .hero-content .hero-inner .hero-stats .stat-item h2 {
  font-size: 2.5rem;
  background-color: #1A1A1A;
}
.hero .hero-main .hero-content .hero-inner .hero-stats .stat-item p {
  font-size: 1.2rem;
  background-color: #1A1A1A;
}
.hero .hero-main .hero-visual {
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
}
.hero .hero-main .hero-visual .hero-image-main {
  height: 100%;
  width: 100%;
}
.hero .hero-main .hero-visual .hero-image-overlay {
  position: absolute;
  background-color: transparent;
  align-self: center;
  margin-left: -10%;
  margin-bottom: 30%;
}
.hero .hero-features {
  height: 26%;
  width: 100%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-features .features-inner {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero .hero-features .features-inner .feature-card {
  border: #262626 1px solid;
  width: 23%;
  height: 85%;
  background-color: #1A1A1A;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}
.hero .hero-features .features-inner .feature-card img {
  background-color: #1A1A1A;
}
.hero .hero-features .features-inner .feature-card p {
  background-color: #1A1A1A;
  font-size: 1.2rem;
}
.hero .hero-features .features-inner .feature-card .arrow-icon {
  margin: 10px;
  margin-bottom: 40%;
  position: absolute;
  align-self: flex-end;
  width: 8%;
  height: auto;
}
.hero .hero-features .features-inner .feature-card img {
  width: 20%;
  height: auto;
}

.badge-icon {
  width: 4.5%;
  height: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}
.section-header div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header div button {
  width: 13%;
  height: 90%;
  background-color: #1A1A1A;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 500;
}
.section-header p {
  font-size: 1.2rem;
  color: #999999;
  width: 75%;
}

.pagination {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagination .pagination-controls {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination-controls p {
  font-size: 1.3rem;
}
.pagination .pagination-controls div {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination .pagination-controls div button {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.featured-properties {
  height: 120vh;
}
.featured-properties .featured-container {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-properties .featured-container .section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 75%;
}
.featured-properties .featured-container .section-wrapper .properties-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85%;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card {
  height: 100%;
  width: 32%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-image {
  width: 100%;
  height: auto;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details p {
  font-size: 1.2rem;
  color: #999999;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features button {
  height: 100%;
  width: auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features button img {
  height: 45%;
  width: auto;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details .property-price {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-properties .featured-container .section-wrapper .properties-grid .property-card .property-card-inner .property-details .property-price button {
  height: 100%;
  width: 65%;
}

.testimonials {
  width: 100vw;
  height: 90vh;
}
.testimonials .testimonials-container {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .testimonials-container .section-header {
  height: 15%;
}
.testimonials .testimonials-container .section-header button {
  height: 100%;
}
.testimonials .section-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .section-wrapper .reviews-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}
.testimonials .section-wrapper .reviews-grid .review-card {
  height: 100%;
  width: 32%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 15%;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner img {
  width: 60%;
  height: auto;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner .review-content {
  height: 45%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner .review-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner .review-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner .review-author {
  height: 20%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.testimonials .section-wrapper .reviews-grid .review-card .review-card-inner .review-author img {
  width: 15%;
  height: auto;
}
.testimonials .section-wrapper .pagination {
  height: 14%;
}

.faq {
  width: 100vw;
  height: 90vh;
}
.faq .faq-container {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .faq-container .section-header {
  height: 15%;
}
.faq .faq-container .section-header button {
  height: 100%;
}
.faq .faq-container .section-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .faq-container .section-wrapper .faq-grid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .faq-container .section-wrapper .faq-grid .faq-card {
  height: 85%;
  width: 32%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .faq-container .section-wrapper .faq-grid .faq-card-inner {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .faq-container .section-wrapper .faq-grid .faq-card-inner h3 {
  font-weight: 500;
  font-size: 1.5rem;
  height: 20%;
}
.faq .faq-container .section-wrapper .faq-grid .faq-card-inner p {
  font-size: 1.2rem;
}
.faq .faq-container .section-wrapper .faq-grid .faq-card-inner button {
  width: 40%;
  height: 20%;
  background-color: #1A1A1A;
}
.faq .faq-container .pagination {
  height: 16%;
}

.cta {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.cta .cta-container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.cta .cta-container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.cta .cta-container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.cta .cta-container div p {
  font-size: 1.05rem;
}
.cta .cta-container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-inner {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
}
footer .footer-top .footer-top-inner .footer-links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-links ul {
  list-style: none;
  line-height: 2.5;
}
footer .footer-top .footer-top-inner .footer-links ul li {
  font-size: 1.1rem;
}
footer .footer-top .footer-top-inner .footer-links ul li a {
  text-decoration: none;
}
footer .footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .footer-bottom .footer-bottom-inner .footer-socials {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .footer-bottom .footer-bottom-inner .footer-socials img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=mainStyle.css.map */
