@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body{
    background-color: #141414;
}
header, .hero, .services-section, .investment-services, .s4, .cta, footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, a{color: white; background-color: transparent;}
p{color: #999999; background-color: transparent;}
h1, h2, h3{font-weight: 500;}
button, nav button{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: #262626 1px solid;
    border-radius: 10px;
}
.hero .btn-primary, .btn-primary{
    background-color: #703BF7;
    color: white;
    font-size: 1.2rem;
    border: #703BF7 1px solid;
    border-radius: 10px;
}
header, nav, .brand, .nav-links{background-color: #1A1A1A;}
header{
    height: 8vh;
    nav{
        width: 82%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{text-decoration: none;}
            .brand{
                display: flex;
                align-items: center;
                width: 9%;
                height: 100%;
                gap: 10px;
                    h3{
                        color: white;
                        font-size: 1.9rem;
                    }
            }
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                height: 100%;
                    button{
                        width: 22%;
                        border: none;
                    }
                    button:hover{
                        border: #262626 1px solid;
                        border-radius: 5px;
                    }
            }
            button{
                height: 70%;
                width: 10%;
            }
    }
}
.badge-icon{
    width: 4.5%;
    height: auto;
    }
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 13%;
        div{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 13%;
                height: 90%;
                background-color: #1A1A1A;
            }
        }
        h2{font-size: 3rem; font-weight: 500;}
        p{font-size: 1.2rem; color: #999999; width: 75%;}
}
.hero{
    height: 60vh;
    background-color: #1A1A1A;
    position: relative;
    background-image: linear-gradient(to right, #262626, #141414);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .hero-container{
        margin-top: 7%;
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{font-weight: 500; font-size: 3rem;}
        p{font-size: 1.12rem; width:87%;}
    }
     .hero-features{
        height: 42%;
        width: 100%;
        background-color: #141414;
        border:#1A1A1A 15px solid;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .features-inner{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .feature-card{
                border: #262626 1px solid;
                width: 23%;
                height: 85%;
                background-color: #1A1A1A;
                border-radius: 10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5%;
                img{background-color: #1A1A1A;}
                p{background-color: #1A1A1A; font-size: 1.2rem;}
                .arrow-icon{
                    margin: 10px;
                    margin-bottom: 33%;
                    position: absolute;
                    align-self: flex-end;
                    width: 8%;
                    height: auto;
                }
                img{width: 20%; height: auto;}
            }
        }
    }
}
.service-card{
    width: 32%;
    height: 100%;
    border: #262626 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .service-card-inner{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        div{
            display: flex;
            align-items: center;
            gap:5%;
        }
    }
}
.services-section{
    height: 95vh;
    .services-container{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 20%;
            p{width: 85%;}
        }
        .services-content{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
             p{font-size: 1.2rem; line-height: 1.5;}
            .services-top, .services-top-2{
                width: 100%;
                height: 48%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .services-bottom, .services-bottom-2{width: 32%; height: 100%;; .service-card{width: 100%;}}
            .services-banner{
                width: 100%;
                height: 48%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .banner-inner{
                    width: 65%;
                    height: 100%;
                    background-image: url(/kartinki/service/Card.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-left: 3%;
                    div{
                        width: 95%;
                        height: 25%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h2{font-size: 2rem;}
                        button{
                            width: 17%;
                            height: 100%;
                            background-color: #141414;
                        }
                    }
                }
            }
        }
    }   
}
.investment-services{
    height: 95vh;
    .investment-container{
        width: 85%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        .investment-left{
            width: 32%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .section-header{
            width: 100%;
            height: 33%;
            p{width: 100%;}
            img{width: 15%;}
            }
            .investment-cta{
                width: 100%;
                height: 50%;
                display: flex;
                border-radius: 15px;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0 5% 0 5%;
                background-image: url(/kartinki/service/Card.png);
                background-repeat: no-repeat;
                background-size: cover;
                h3{ font-size: 1.5rem;}
                p{font-size: 1.2rem; color: white; line-height: 1.5;}
                button{
                    height: 20%;
                    background-color: #141414;
                }
            }
        }
        .investment-right{
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #1A1A1A;
            border: #1A1A1A 15px solid;
            border-radius: 15px;
            .investment-row{
                display: flex;
                justify-content: space-between;
                height: 48%;
                .service-card{ p{font-size: 1.2rem; line-height: 1.5;}width: 48%; background-color: #141414;}
            }
        }
    }
}
.cta{
    height: 40vh;
    background-image: url(/kartinki/main1/BacgraundS5.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    .cta-container{
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        div{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            gap: 10%;
            h2{font-size: 2.7rem; font-weight: 500;}
            p{font-size: 1.05rem;}
        }
        button{
            width: 13%;
            height: 25%;
        }
    }
}
footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-top-inner{
            width: 80%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .footer-brand{
                width: 30%;
                height: 55%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .footer-logo{
                    width:36%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{font-size: 2rem; font-weight: 500;}
                }
                .newsletter{
                    width: 100%;
                    height: 40%;
                    border: #262626 1px solid;
                    border-radius: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5% 0 5%;
                    input{
                        color: #999999;
                        font-size: 1.2rem;
                        width: 80%;
                        height: 100%;
                        border: none;
                        background-color: #141414;
                    }
                }
            }
            .footer-links{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                ul{
                    list-style: none;
                    line-height: 2.5;
                    li{
                        font-size: 1.1rem;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 20%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-bottom-inner{
            width: 80%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-copyright{
                width: 30%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{background-color: transparent; font-size: 1.1rem;}
            }
            .footer-socials{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #1A1A1A;
                img{
                    width: 20%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
