@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  font-family: "Urbanist", sans-serif;
}

header, .hero, .properties-list, .inquiry-form, .cta, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, a {
  color: white;
  background-color: transparent;
}

p {
  color: #999999;
  background-color: transparent;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

.hero .btn-primary, .btn-primary {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

header, nav, .brand, .nav-links {
  background-color: #1A1A1A;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .brand {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .brand h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .nav-links button {
  width: 22%;
  border: none;
}
header nav .nav-links button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.badge-icon {
  width: 4.5%;
  height: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}
.section-header div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header div button {
  width: 13%;
  height: 90%;
  background-color: #1A1A1A;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 500;
}
.section-header p {
  font-size: 1.2rem;
  color: #999999;
  width: 75%;
}

.hero {
  height: 42vh;
  position: relative;
  background-image: linear-gradient(to right, #262626, #141414);
}
.hero .hero-container {
  background-color: transparent;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-container h2 {
  font-weight: 500;
  font-size: 3rem;
  background-color: transparent;
}
.hero .hero-container p {
  font-size: 1.12rem;
  width: 87%;
  background-color: transparent;
}

.search-bar {
  position: absolute;
  margin-top: 5%;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 80vw;
  height: 20vh;
  background-color: transparent;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.search-bar .search-input-wrapper {
  width: 83%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar .search-input-wrapper input {
  width: 80%;
  height: 100%;
  border: none;
  padding-left: 2%;
  color: #999999;
  font-size: 1.5rem;
}
.search-bar .search-input-wrapper button {
  margin-right: 2%;
  width: 15%;
  height: 65%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}
.search-bar .search-input-wrapper button img {
  background-color: transparent;
}
.search-bar .filter-options {
  width: 100%;
  height: 40%;
  display: flex;
  background-color: #1A1A1A;
  justify-content: space-evenly;
  align-items: center;
}
.search-bar .filter-options .filter-item {
  width: 19%;
  height: 95%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1% 0 1%;
}
.search-bar .filter-options .filter-item div {
  height: 90%;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 8%;
}
.search-bar .filter-options .filter-item button {
  border: none;
}
.search-bar .filter-options, .search-bar .search-input-wrapper {
  border: #1A1A1A 15px solid;
  border-radius: 15px;
}

.pagination {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagination .pagination-controls {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination-controls p {
  font-size: 1.3rem;
}
.pagination .pagination-controls div {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination .pagination-controls div button {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.properties-list {
  height: 120vh;
}
.properties-list .properties-container {
  margin-top: 7%;
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.properties-list .properties-container .section-header {
  height: 15%;
}
.properties-list .properties-container .section-header p {
  width: 100%;
}
.properties-list .properties-container .properties-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 75%;
}
.properties-list .properties-container .properties-wrapper .properties-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85%;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card {
  height: 100%;
  width: 32%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-image {
  width: 100%;
  height: auto;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details p {
  font-size: 1.2rem;
  color: #999999;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features button {
  height: 100%;
  width: auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details .property-features button img {
  height: 45%;
  width: auto;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details .property-price {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.properties-list .properties-container .properties-wrapper .properties-grid .property-card .property-card-inner .property-details .property-price button {
  height: 100%;
  width: 65%;
}

.inquiry-form {
  height: 150vh;
}
.inquiry-form .inquiry-container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card {
  border-radius: 15px;
  border: #262626 1px solid;
  align-self: center;
  width: 100%;
  height: 70%;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner {
  width: 90%;
  height: 85%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields {
  width: 100%;
  height: 50%;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right {
  width: 48%;
  background-color: #141414;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div p, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div input, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div input {
  width: 85%;
  height: 60%;
  color: #999999;
  font-size: 1rem;
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
  padding-left: 10px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div .input-with-icon, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div .input-with-icon {
  height: 62%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div .input-with-icon input, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div .input-with-icon input {
  width: 85%;
  height: 90%;
  border: none;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-left .form-row div .input-with-icon img, .inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-right .form-row div .input-with-icon img {
  width: 8%;
  height: auto;
  background-color: transparent;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full div {
  height: 65%;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full input {
  width: 93%;
  height: 80%;
  color: #999999;
  font-size: 1rem;
  background-color: #1A1A1A;
  border: none;
  padding-left: 10px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-fields .form-field-full img {
  width: 4%;
  height: auto;
  background-color: transparent;
}
.inquiry-form .inquiry-container .form-card .form-card-inner div {
  background-color: transparent;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option .contact-option-bottom {
  margin-top: 11%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option div {
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
  width: 80%;
  height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option div img {
  background-color: transparent;
  width: 10%;
  height: auto;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option div input {
  background-color: #1A1A1A;
  border: none;
  padding-left: 10px;
  width: 70%;
  height: 100%;
  color: #999999;
  font-size: 1rem;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .contact-method .contact-option div .radio-btn {
  width: 10%;
  height: auto;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  background-color: #141414;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area p {
  font-size: 1.3rem;
  color: white;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-message-area input {
  background-color: #1A1A1A;
  border-radius: 5px;
  border: #262626 1px solid;
  width: 100%;
  height: 80%;
  color: #999999;
  font-size: 1rem;
  text-align: left;
  vertical-align: top;
  padding: 8px;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer div {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer div input {
  width: 20%;
  height: 25%;
}
.inquiry-form .inquiry-container .form-card .form-card-inner .form-footer button {
  width: 17%;
  height: 77%;
}

.cta {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.cta .cta-container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.cta .cta-container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.cta .cta-container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.cta .cta-container div p {
  font-size: 1.05rem;
}
.cta .cta-container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-inner {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
}
footer .footer-top .footer-top-inner .footer-links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-links ul {
  list-style: none;
  line-height: 2.5;
}
footer .footer-top .footer-top-inner .footer-links ul li {
  font-size: 1.1rem;
}
footer .footer-top .footer-top-inner .footer-links ul li a {
  text-decoration: none;
}
footer .footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .footer-bottom .footer-bottom-inner .footer-socials {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .footer-bottom .footer-bottom-inner .footer-socials img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=properties.css.map */
