@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  font-family: "Urbanist", sans-serif;
}

header, .s1, .s2, .s3, .s4, .s5, .s6, .s7, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, a {
  color: white;
}

p {
  color: #999999;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

header, nav, .logo, .knopki {
  background-color: #1A1A1A;
}

.purpleButton {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

.underCards {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.underCards .tap {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.underCards .tap p {
  font-size: 1.3rem;
}
.underCards .tap div {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.underCards .tap div button {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .logo {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .logo h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .knopki {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .knopki button {
  width: 22%;
  border: none;
}
header nav .knopki button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.s1 {
  width: 100vw;
  height: 70vh;
}
.s1 .s1container {
  width: 84%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s1 .s1container .s1left {
  width: 48%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s1 .s1container .s1left .s1ltitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.s1 .s1container .s1left .s1ltitle h2 {
  font-weight: 500;
  font-size: 3rem;
}
.s1 .s1container .s1left .s1ltitle p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.s1 .s1container .s1left .s1ltitle img {
  width: 10%;
  height: auto;
}
.s1 .s1container .s1left .kamen {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s1 .s1container .s1left .kamen .stol {
  width: 31%;
  height: 100%;
  background-color: #1A1A1A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  padding-left: 3%;
}
.s1 .s1container .s1left .kamen .stol h2 {
  font-size: 2.5rem;
  background-color: #1A1A1A;
}
.s1 .s1container .s1left .kamen .stol p {
  font-size: 1.2rem;
  background-color: #1A1A1A;
}
.s1 .s1container .s1right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1 .s1container .s1right img {
  width: 95%;
  height: auto;
}

.s2 {
  height: 65vh;
}
.s2 .s2container {
  width: 84%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s2 .s2container .s2lc {
  width: 34%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s2 .s2container .s2lc h2 {
  font-weight: 500;
  font-size: 3rem;
}
.s2 .s2container .s2lc p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.s2 .s2container .s2lc img {
  width: 10%;
  height: auto;
}
.s2 .s2container .s2rc {
  width: 60%;
  height: 90%;
  border: #1A1A1A 15px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.s2 .s2container .s2rc .righttop {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s2 .s2container .s2rc .righttop .info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.s2 .s2container .s2rc .righttop .info p {
  font-size: 1.1rem;
}
.s2 .s2container .s2rc .righttop .info div {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.s2 .s2container .s2rc .righttop .info div h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.s3 {
  height: 60vh;
}
.s3 .s3container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s3 .s3container .s3card {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s3 .s3container .s3card div {
  width: 32%;
  height: 90%;
  border: #1A1A1A 10px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3%;
}
.s3 .s3container .s3card div h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.s3 .s3container .s3card div p {
  font-size: 1rem;
}

.textic {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textic h2 {
  font-size: 3rem;
  font-weight: 500;
}
.textic p {
  font-size: 1.2rem;
}
.textic img {
  width: 7%;
  height: auto;
}

.s4 {
  height: 100vh;
}
.s4 .s4container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s4 .s4container .textic {
  height: 15%;
}
.s4 .s4container .cards {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s4 .s4container .cards .topcards, .s4 .s4container .cards .botcards {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s4 .s4container .cards .topcards .card, .s4 .s4container .cards .botcards .card {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.s4 .s4container .cards .topcards .card .num, .s4 .s4container .cards .botcards .card .num {
  height: 17%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}
.s4 .s4container .cards .topcards .card .num p, .s4 .s4container .cards .botcards .card .num p {
  font-size: 1.3rem;
  color: white;
}
.s4 .s4container .cards .topcards .card .num, .s4 .s4container .cards .botcards .card .num {
  border-left: #703BF7 1px solid;
}
.s4 .s4container .cards .topcards .card .words, .s4 .s4container .cards .botcards .card .words {
  width: 100%;
  height: 70%;
  padding: 3% 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  border: #262626 1px solid;
  border-radius: 0 15px 15px 15px;
  background-image: linear-gradient(135deg, rgba(112, 59, 247, 0.6) 0%, transparent 15%);
}
.s4 .s4container .cards .topcards .card .words h3, .s4 .s4container .cards .botcards .card .words h3 {
  font-size: 1.7rem;
  font-weight: 400;
  background-color: transparent;
}
.s4 .s4container .cards .topcards .card .words p, .s4 .s4container .cards .botcards .card .words p {
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: transparent;
}

.s5 {
  height: 80vh;
  align-items: start;
}
.s5 .s5container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s5 .s5container .textic {
  height: 25%;
}
.s5 .s5container .Team {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
.s5 .s5container .Team .person {
  width: 23%;
  height: 100%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s5 .s5container .Team .person p, .s5 .s5container .Team .person img, .s5 .s5container .Team .person h2, .s5 .s5container .Team .person div {
  background-color: transparent;
}
.s5 .s5container .Team .person .personContainer {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.s5 .s5container .Team .person .personContainer .tw {
  position: absolute;
  align-self: center;
  margin-left: 37%;
}
.s5 .s5container .Team .person .personContainer .persInfo {
  margin-top: 5%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.s5 .s5container .Team .person .personContainer .persInfo h2 {
  font-weight: 500;
}
.s5 .s5container .Team .person .personContainer .persInfo p {
  font-size: 1rem;
}
.s5 .s5container .Team .person .personContainer .SayHi {
  width: 100%;
  height: 15%;
  border: #262626 1px solid;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 4%;
}
.s5 .s5container .Team .person .personContainer .SayHi button {
  border: none;
}
.s5 .s5container .Team .person .personContainer .SayHi p {
  color: white;
  font-size: 1.1rem;
}

.s6 {
  height: 100vh;
}
.s6 .s6container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s6 .s6container .textic {
  height: 20%;
}
.s6 .s6container .underCards {
  height: 8%;
}
.s6 .s6container .clients {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s6 .s6container .clients .client {
  width: 47%;
  height: 90%;
  border: #1A1A1A 10px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s6 .s6container .clients .client .clientContainer {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s6 .s6container .clients .client .clientContainer .topCl {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s6 .s6container .clients .client .clientContainer .topCl div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s6 .s6container .clients .client .clientContainer .topCl div h2 {
  font-weight: 500;
  font-size: 1.7rem;
}
.s6 .s6container .clients .client .clientContainer .topCl button {
  width: 30%;
  height: 80%;
  background-color: #1A1A1A;
}
.s6 .s6container .clients .client .clientContainer .midCl {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s6 .s6container .clients .client .clientContainer .midCl .asd {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s6 .s6container .clients .client .clientContainer .midCl .asd div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.s6 .s6container .clients .client .clientContainer .midCl .asd div p {
  font-size: 1.2rem;
  color: #999999;
}
.s6 .s6container .clients .client .clientContainer .midCl .asd p {
  color: white;
  font-size: 1.2rem;
}
.s6 .s6container .clients .client .clientContainer .end {
  padding: 3.5%;
  width: 100%;
  height: 30%;
  border: #1A1A1A 2px solid;
  border-radius: 15px;
}
.s6 .s6container .clients .client .clientContainer .end p {
  background-color: transparent;
}
.s6 .s6container .clients .client .clientContainer .end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s6 .s6container .clients .client .clientContainer .end p {
  font-size: 1rem;
}
.s6 .s6container .clients .client .clientContainer .end .whitep {
  color: white;
}

.s7 {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.s7 .s7container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.s7 .s7container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.s7 .s7container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.s7 .s7container div p {
  font-size: 1.05rem;
}
.s7 .s7container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .ftop {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .ftop .ftopCont {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .ftop .ftopCont .ftrc {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .ftop .ftopCont .ftrc .flogo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .ftop .ftopCont .ftrc .flogo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .ftop .ftopCont .ftrc .inputDiv {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .ftop .ftopCont .ftrc .inputDiv input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
}
footer .ftop .ftopCont .ftlc {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .ftop .ftopCont .ftlc ul {
  list-style: none;
  line-height: 2.5;
}
footer .ftop .ftopCont .ftlc ul li {
  font-size: 1.1rem;
}
footer .ftop .ftopCont .ftlc ul li a {
  text-decoration: none;
}
footer .fbot {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fbot .fbotCont {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .fbot .fbotCont .fblc {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .fbot .fbotCont .fblc p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .fbot .fbotCont .fbrc {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .fbot .fbotCont .fbrc img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=aboutUs.css.map */