@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    font-family: 'Urbanist', sans-serif;
}
header, .hero, .values, .achievements, .process, .team, .clients-grid, .cta, footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 h1, h2, h3, a{color: white;}
 p{color: #999999;}
button, nav button{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: #262626 1px solid;
    border-radius: 10px;
}
header, nav, .brand, .nav-links{background-color: #1A1A1A;}
.btn-primary{
    background-color: #703BF7;
    color: white;
    font-size: 1.2rem;
    border: #703BF7 1px solid;
    border-radius: 10px;
}
.pagination{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .pagination-controls{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{font-size: 1.3rem;}
            div{
                width:8%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                button{
                    width: 42%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                }
            }
        }    
    }
header{
    height: 8vh;
    nav{
        width: 82%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{text-decoration: none;}
            .brand{
                display: flex;
                align-items: center;
                width: 9%;
                height: 100%;
                gap: 10px;
                    h3{
                        color: white;
                        font-size: 1.9rem;
                    }
            }
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                height: 100%;
                    button{
                        width: 22%;
                        border: none;
                    }
                    button:hover{
                        border: #262626 1px solid;
                        border-radius: 5px;
                    }
            }
            button{
                height: 70%;
                width: 10%;
            }
        }
}
.hero{
    width: 100vw;
    height: 70vh;
    .hero-container{
        width: 84%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero-left{
            width: 48%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hero-title{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
                h2{font-weight: 500;font-size: 3rem;}
                p{font-size: 1.2rem; line-height: 1.5;}
                img{width: 10%; height: auto;}
            }
            .stats{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .stat-item{
                        width: 31%;
                        height: 100%;
                        background-color: #1A1A1A;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        justify-content: center;
                        padding-left: 3%;
                        h2{
                            font-size: 2.5rem;
                            background-color: #1A1A1A;
                        }
                        p{
                            font-size: 1.2rem;
                            background-color: #1A1A1A;
                        }
                    }
                }
        }
        .hero-right{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{width: 95%;height: auto;}
        }
    }
}
.values{
    height: 65vh;
    .values-container{
        width: 84%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .values-left{
            width: 34%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{font-weight: 500;font-size: 3rem;}
            p{font-size: 1.2rem; line-height: 1.5;}
            img{width: 10%; height: auto;}
        }
        .values-right{
            width: 60%;
            height: 90%;
            border: #1A1A1A 15px solid;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .values-row{
                width: 90%;
                height: 45%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .value-item{
                    width: 45%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    p{font-size: 1.1rem;}
                    div{
                        width: 100%;
                        display: flex;
                        gap: 5%;
                        align-items: center;
                        h3{font-size: 1.5rem; font-weight: 500;}
                    }
                }
            }
        }
    }
}
.achievements{
    height: 60vh;
    .achievements-container{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .achievements-cards{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                width: 32%;
                height: 90%;
                border: #1A1A1A 10px solid;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0 3%;
                h3{font-size: 1.7rem; font-weight: 500;}
                p{font-size: 1rem;}
            }
        }
    }
}
.section-header{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{font-size: 3rem; font-weight: 500;}
    p{font-size: 1.2rem;}
    img{width: 7%; height: auto;}
}
.process{
    height: 100vh;
    .process-container{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{height: 15%;}
        .process-cards{
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .process-top, .process-bottom{
                width: 100%;
                height: 48%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .process-card{
                    width: 32%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .step-number{
                        height: 17%;
                        display: flex;
                        align-items: center;
                        padding-left: 3%;
                        p{font-size: 1.3rem; color: white;}
                        border-left: #703BF7 1px solid;
                    }
                    .step-content{
                        width: 100%;
                        height: 70%;
                        padding: 3% 0 0 5%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10%;
                        border:#262626 1px solid;
                        border-radius: 0 15px 15px 15px;
                        background-image: 
                        linear-gradient(135deg, rgba(112, 59, 247, 0.6) 0%, transparent 15%);
                        h3{font-size: 1.7rem; font-weight: 400; background-color: transparent;}
                        p{font-size: 1.1rem; line-height: 1.5; background-color: transparent;}
                    }
                }
            }
        }
    }
}
.team{
    height: 80vh;
    align-items: start;
    .team-container{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{height: 25%;}
        .team-grid{
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .team-member{
                width: 23%;
                height: 100%;
                border: #262626 1px solid;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                p, img, h2, div{background-color: transparent;}
                .member-inner{
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    .social-icon{
                        position: absolute;
                        align-self: center;
                        margin-left: 37%;
                    }
                    .member-info{
                        margin-top: 5%;
                        height: 15%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        h2{font-weight: 500;}
                        p{font-size: 1rem;}
                    }
                    .member-contact{
                        width: 100%;
                        height: 15%;
                        border: #262626 1px solid;
                        border-radius: 40px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 4% 0 4%;
                        button{border:none}
                        p{color: white; font-size: 1.1rem;}
                    }
                }
            }
        }
    }
}
.clients-grid{
    height: 100vh;
    .clients-container{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section-header{
            height: 20%;
        }
        .pagination{height: 8%;}
        .clients-grid{
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .client-card{
                width: 47%;
                height: 90%;
                border: #1A1A1A 10px solid;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .client-inner{
                    width: 85%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .client-header{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            height: 80%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            h2{font-weight: 500; font-size: 1.7rem;}
                        }
                        button{
                            width: 30%;
                            height: 80%;
                            background-color: #1A1A1A;
                        }
                    }
                    .client-details{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .detail-item{
                            width: 40%;
                            height: 60%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            div{
                                width: 50%;
                                display: flex;
                                justify-content: space-between;
                                p{font-size: 1.2rem; color: #999999;}
                            }
                            p{color: white; font-size: 1.2rem;}
                        }
                    }
                    .client-testimonial{
                        padding: 3.5%;
                        width: 100%;
                        height: 30%;
                        border: #1A1A1A 2px solid;
                        border-radius: 15px;
                        p{background-color: transparent;}
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        p{font-size: 1rem;}
                        .whitep{color: white;}
                    }
                }
            }
        }
    }
}
.cta{
    height: 40vh;
    background-image: url(/kartinki/main1/BacgraundS5.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    .cta-container{
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        div{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            gap: 10%;
            h2{font-size: 2.7rem; font-weight: 500;}
            p{font-size: 1.05rem;}
        }
        button{
            width: 13%;
            height: 25%;
        }
    }
}
footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-top-inner{
            width: 80%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .footer-brand{
                width: 30%;
                height: 55%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .footer-logo{
                    width:36%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{font-size: 2rem; font-weight: 500;}
                }
                .newsletter{
                    width: 100%;
                    height: 40%;
                    border: #262626 1px solid;
                    border-radius: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5% 0 5%;
                    input{
                        color: #999999;
                        font-size: 1.2rem;
                        width: 80%;
                        height: 100%;
                        border: none;
                    }
                }
            }
            .footer-links{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                ul{
                    list-style: none;
                    line-height: 2.5;
                    li{
                        font-size: 1.1rem;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 20%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-bottom-inner{
            width: 80%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-copyright{
                width: 30%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{background-color: transparent; font-size: 1.1rem;}
            }
            .footer-socials{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #1A1A1A;
                img{
                    width: 20%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
