@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  font-family: "Urbanist", sans-serif;
}

header, .hero, .values, .achievements, .process, .team, .clients-grid, .cta, footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, a {
  color: white;
}

p {
  color: #999999;
}

button, nav button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: #262626 1px solid;
  border-radius: 10px;
}

header, nav, .brand, .nav-links {
  background-color: #1A1A1A;
}

.btn-primary {
  background-color: #703BF7;
  color: white;
  font-size: 1.2rem;
  border: #703BF7 1px solid;
  border-radius: 10px;
}

.pagination {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagination .pagination-controls {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination-controls p {
  font-size: 1.3rem;
}
.pagination .pagination-controls div {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination .pagination-controls div button {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

header {
  height: 8vh;
}
header nav {
  width: 82%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav .brand {
  display: flex;
  align-items: center;
  width: 9%;
  height: 100%;
  gap: 10px;
}
header nav .brand h3 {
  color: white;
  font-size: 1.9rem;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
header nav .nav-links button {
  width: 22%;
  border: none;
}
header nav .nav-links button:hover {
  border: #262626 1px solid;
  border-radius: 5px;
}
header nav button {
  height: 70%;
  width: 10%;
}

.hero {
  width: 100vw;
  height: 70vh;
}
.hero .hero-container {
  width: 84%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-container .hero-left {
  width: 48%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-container .hero-left .hero-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.hero .hero-container .hero-left .hero-title h2 {
  font-weight: 500;
  font-size: 3rem;
}
.hero .hero-container .hero-left .hero-title p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.hero .hero-container .hero-left .hero-title img {
  width: 10%;
  height: auto;
}
.hero .hero-container .hero-left .stats {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-container .hero-left .stats .stat-item {
  width: 31%;
  height: 100%;
  background-color: #1A1A1A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  padding-left: 3%;
}
.hero .hero-container .hero-left .stats .stat-item h2 {
  font-size: 2.5rem;
  background-color: #1A1A1A;
}
.hero .hero-container .hero-left .stats .stat-item p {
  font-size: 1.2rem;
  background-color: #1A1A1A;
}
.hero .hero-container .hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-container .hero-right img {
  width: 95%;
  height: auto;
}

.values {
  height: 65vh;
}
.values .values-container {
  width: 84%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.values .values-container .values-left {
  width: 34%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.values .values-container .values-left h2 {
  font-weight: 500;
  font-size: 3rem;
}
.values .values-container .values-left p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.values .values-container .values-left img {
  width: 10%;
  height: auto;
}
.values .values-container .values-right {
  width: 60%;
  height: 90%;
  border: #1A1A1A 15px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.values .values-container .values-right .values-row {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.values .values-container .values-right .values-row .value-item {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.values .values-container .values-right .values-row .value-item p {
  font-size: 1.1rem;
}
.values .values-container .values-right .values-row .value-item div {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.values .values-container .values-right .values-row .value-item div h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.achievements {
  height: 60vh;
}
.achievements .achievements-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.achievements .achievements-container .achievements-cards {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.achievements .achievements-container .achievements-cards div {
  width: 32%;
  height: 90%;
  border: #1A1A1A 10px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3%;
}
.achievements .achievements-container .achievements-cards div h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.achievements .achievements-container .achievements-cards div p {
  font-size: 1rem;
}

.section-header {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 500;
}
.section-header p {
  font-size: 1.2rem;
}
.section-header img {
  width: 7%;
  height: auto;
}

.process {
  height: 100vh;
}
.process .process-container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.process .process-container .section-header {
  height: 15%;
}
.process .process-container .process-cards {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.process .process-container .process-cards .process-top, .process .process-container .process-cards .process-bottom {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process .process-container .process-cards .process-top .process-card, .process .process-container .process-cards .process-bottom .process-card {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.process .process-container .process-cards .process-top .process-card .step-number, .process .process-container .process-cards .process-bottom .process-card .step-number {
  height: 17%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}
.process .process-container .process-cards .process-top .process-card .step-number p, .process .process-container .process-cards .process-bottom .process-card .step-number p {
  font-size: 1.3rem;
  color: white;
}
.process .process-container .process-cards .process-top .process-card .step-number, .process .process-container .process-cards .process-bottom .process-card .step-number {
  border-left: #703BF7 1px solid;
}
.process .process-container .process-cards .process-top .process-card .step-content, .process .process-container .process-cards .process-bottom .process-card .step-content {
  width: 100%;
  height: 70%;
  padding: 3% 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  border: #262626 1px solid;
  border-radius: 0 15px 15px 15px;
  background-image: linear-gradient(135deg, rgba(112, 59, 247, 0.6) 0%, transparent 15%);
}
.process .process-container .process-cards .process-top .process-card .step-content h3, .process .process-container .process-cards .process-bottom .process-card .step-content h3 {
  font-size: 1.7rem;
  font-weight: 400;
  background-color: transparent;
}
.process .process-container .process-cards .process-top .process-card .step-content p, .process .process-container .process-cards .process-bottom .process-card .step-content p {
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: transparent;
}

.team {
  height: 80vh;
  align-items: start;
}
.team .team-container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team .team-container .section-header {
  height: 25%;
}
.team .team-container .team-grid {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
.team .team-container .team-grid .team-member {
  width: 23%;
  height: 100%;
  border: #262626 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team-container .team-grid .team-member p, .team .team-container .team-grid .team-member img, .team .team-container .team-grid .team-member h2, .team .team-container .team-grid .team-member div {
  background-color: transparent;
}
.team .team-container .team-grid .team-member .member-inner {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.team .team-container .team-grid .team-member .member-inner .social-icon {
  position: absolute;
  align-self: center;
  margin-left: 37%;
}
.team .team-container .team-grid .team-member .member-inner .member-info {
  margin-top: 5%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.team .team-container .team-grid .team-member .member-inner .member-info h2 {
  font-weight: 500;
}
.team .team-container .team-grid .team-member .member-inner .member-info p {
  font-size: 1rem;
}
.team .team-container .team-grid .team-member .member-inner .member-contact {
  width: 100%;
  height: 15%;
  border: #262626 1px solid;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 4%;
}
.team .team-container .team-grid .team-member .member-inner .member-contact button {
  border: none;
}
.team .team-container .team-grid .team-member .member-inner .member-contact p {
  color: white;
  font-size: 1.1rem;
}

.clients-grid {
  height: 100vh;
}
.clients-grid .clients-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-grid .clients-container .section-header {
  height: 20%;
}
.clients-grid .clients-container .pagination {
  height: 8%;
}
.clients-grid .clients-container .clients-grid {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-grid .clients-container .clients-grid .client-card {
  width: 47%;
  height: 90%;
  border: #1A1A1A 10px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-header div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-header div h2 {
  font-weight: 500;
  font-size: 1.7rem;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-header button {
  width: 30%;
  height: 80%;
  background-color: #1A1A1A;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-details {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-details .detail-item {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-details .detail-item div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-details .detail-item div p {
  font-size: 1.2rem;
  color: #999999;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-details .detail-item p {
  color: white;
  font-size: 1.2rem;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-testimonial {
  padding: 3.5%;
  width: 100%;
  height: 30%;
  border: #1A1A1A 2px solid;
  border-radius: 15px;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-testimonial p {
  background-color: transparent;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-testimonial p {
  font-size: 1rem;
}
.clients-grid .clients-container .clients-grid .client-card .client-inner .client-testimonial .whitep {
  color: white;
}

.cta {
  height: 40vh;
  background-image: url(/kartinki/main1/BacgraundS5.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom;
}
.cta .cta-container {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.cta .cta-container div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 10%;
}
.cta .cta-container div h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.cta .cta-container div p {
  font-size: 1.05rem;
}
.cta .cta-container button {
  width: 13%;
  height: 25%;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-inner {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand {
  width: 30%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-top-inner .footer-brand .footer-logo h3 {
  font-size: 2rem;
  font-weight: 500;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter {
  width: 100%;
  height: 40%;
  border: #262626 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
footer .footer-top .footer-top-inner .footer-brand .newsletter input {
  color: #999999;
  font-size: 1.2rem;
  width: 80%;
  height: 100%;
  border: none;
}
footer .footer-top .footer-top-inner .footer-links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .footer-top-inner .footer-links ul {
  list-style: none;
  line-height: 2.5;
}
footer .footer-top .footer-top-inner .footer-links ul li {
  font-size: 1.1rem;
}
footer .footer-top .footer-top-inner .footer-links ul li a {
  text-decoration: none;
}
footer .footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-bottom-inner .footer-copyright p {
  background-color: transparent;
  font-size: 1.1rem;
}
footer .footer-bottom .footer-bottom-inner .footer-socials {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}
footer .footer-bottom .footer-bottom-inner .footer-socials img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}/*# sourceMappingURL=aboutUs.css.map */
